<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bringitcheckin" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BringItCheckIn</name>
    <description>
        Announce your arrival with BringItCheckIn
    </description>
    <author email="bringitcheckin@jason-lee.net.au" href="http://jlchat.herokuapp.com/wall">
        Jason
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="http://jlchat.herokuapp.com" />
    <access origin="https://jlchat.herokuapp.com" />
</widget>
